.header{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    box-shadow: 0 0 10px #ddd;
    background: #f8f9fa;
    border: 1px solid rgb(0, 0, 0, .125);
}
.header .navbar{
    width: 100%;
    height: 100%;
}
.header .logo h1{
    font-size: 2.5rem;
    bottom: 0;
    vertical-align: bottom;
} 

.header .logo img{
    width: 4rem;
    margin-right: 1rem;
    margin-left: 3rem;
  }

/* ----------- Header Menu ---------- */
.header .menu li{
    font-size: 1.2rem;
}
.header .menu li.active{
    opacity: 1;
}
.header .menu .material-icons{
    font-size: 30px;
}
.header .menu .dropdown-menu{
    position: absolute;
    left: inherit;
    right: 0;
}
.header .menu label{
    cursor: pointer;
}

.header .menu .notify_length{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 10px;
}

